$color-nathan: rgb(145, 9, 9);
$color-andrew: rgb(38, 114, 185);
$color-text-shadow: #fff;
$color-copyright: rgb(128, 128, 128);

.footer {
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  height: 10rem;
  margin: 1rem 0 0;
  padding: 3rem 0 10rem;
}

.footer-credits,
.footer-copyright {
  margin: .6rem 0;
}

.footer-credits {

  .nathan {
    color: $color-nathan;
    text-shadow: 0 0 .6rem $color-text-shadow;
  }

  .andrew {
    color: $color-andrew;
    text-shadow: 0 0 1rem $color-text-shadow;
  }
}

.footer-copyright {
  //font-style: italic;
  color: $color-copyright;
}